body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#pie {
  position: absolute;
  left: 63px;
  top: 402px;
}

#scatter {
  position: absolute;
  left: 700px;
  top: 480px;
  background-color: rgba(30,30,30,0.3);
  border-radius: 10px;
}

#histo {
  position: absolute;
  left: 80px;
  top: 480px;
  background-color: rgba(30,30,30,0.3);
  border-radius: 10px;
}

#parallel_coordinate {
  background-color: rgba(30,30,30,0.3);
}

#parallel_coordinate_div {
  position: absolute;
  left: 80px;
  top: 60px;
  width: 1090px;
  height: 350px;
}

.background path {
  fill: none;
  stroke: #ddd;
  shape-rendering: crispEdges;
}

#app {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  overflow: hidden;
  clear:both;
}

.clear{
  clear:both;
}

/* SECTIONS */
#title_section {
  position: absolute;
  left: 68%;
  top: 7%;
}

/* ELEMENTS */

#titleImg {
  position: absolute;
  height: auto; 
  width: auto; 
  max-width: 800px; 
  max-height: 800px;
}

div.pie_data {
  position: absolute;
  text-align: center;
  padding: .5rem;
  background: #FFFFFF;
  color: #313639;
  border: 1px solid #313639;
  border-radius: 8px;
  pointer-events: none;
  font-size: 1.3rem;
}

#reset {
  position: absolute;
  background-color: black;
  left: 92%;
  top: 80px;
  border: 2px solid white;
  border-radius: 25px;
  color: white;
  padding: 10px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

#credits {
  position: absolute;
  background-color: none;
  left: 76.5%;
  top: 90%;
  width: 400px;
  color: white;
  text-decoration: none;
  font-size: 16px;
}

#selection {
  position: absolute;
  background-color: lightblue;
  opacity: 0.6;
}

.noselect {
  user-select: none;
}